cdocumenteditor#edt_form_preferences cfieldsgroup.captcha {
	-moz-binding: url(binding:modules.form.cFormEditor#cCaptchaPreferencesSection);
}
cdocumenteditor[module="form"] cfieldsgroup.activation-conditions {
	-moz-binding: url(binding:modules.form.cFormEditor#cActivationConditionsSection);
}
cdocumenteditor[module="form"] cfieldsgroup.field-name-chooser {
	-moz-binding: url(binding:modules.form.cFormEditor#cFieldNameChooserSection);
}
cdocumenteditor[module="form"] cfieldsgroup.blank-option-chooser {
	-moz-binding: url(binding:modules.form.cFormEditor#cBlankOptionChooserSection);
}
cdocumenteditor[module="form"] cfieldsgroup.text-field-configurator {
	-moz-binding: url(binding:modules.form.cFormEditor#cTextFieldConfiguratorSection);
}
cdocumenteditor[module="form"] cfield[fieldtype="recipientGroupArrayField"]{
	-moz-binding: url(binding:modules.form.cFormEditor#cRecipientGroupArrayField);
}
cdocumenteditor[module="form"] cfield[fieldtype="recipientGroupArrayField"]{
	-moz-binding: url(binding:modules.form.cFormEditor#cRecipientGroupArrayField);
}

wdialog[template="viewFormResponses"]{
	-moz-binding: url(binding:modules.form.cFormEditor#cFormResponsesDialog);
}
wdialog[template="viewFormResponses"] section.response{
	-moz-binding: url(binding:modules.form.cFormEditor#cFormResponse);
}
cdocumenteditor#edt_form_response cresumesection[sectionname="responsedata"]{
	-moz-binding: url(binding:modules.form.cFormEditor#cResponseDataResumeSection);
}

wdialog[template="viewFormResponses"] section.responseContent, 
cresumesection[sectionname="responsedata"] section.responseContent{
	-moz-binding: url(binding:modules.form.cFormEditor#cFormResponseContent);
}
wdialog[template="viewFormResponses"] section.responseContent section.field, 
cresumesection[sectionname="responsedata"] section.field{
	-moz-binding: url(binding:modules.form.cFormEditor#cFormResponseFieldRow);
}
wdialog[template="viewFormResponses"] section.responseContent section.file-field,
cresumesection[sectionname="responsedata"] section.file-field{
	-moz-binding: url(binding:modules.form.cFormEditor#cFormResponseFileFieldRow);
}
wdialog[template="viewFormResponses"] section.responseContent section.group,
cresumesection[sectionname="responsedata"] section.group{
	-moz-binding: url(binding:modules.form.cFormEditor#cFormResponseGroupRow);
}