.dialog-header-container{
	padding: 2px 2px 0 2px;
}
.dialog-header{
	background: url(/changeicons/small/view-responses.png) transparent 4px center no-repeat!important;
}
scrollbox{
	overflow: auto;
}
groupbox{
	border: 1px solid #bbb !important;
	-moz-border-radius: 5px !important;
	background-color: #f9f9f9 !important;
}
groupbox caption{
	padding: 0 !important;
	margin: 0 !important;
}
section.field label, section.file-field label{
	font-weight: bold;
}
section.group section.field label, section.group section.file-field label{
	font-style: normal;
}
section.group{
	padding-top: 10px;
}
section.group + section.field, section.group + section.file-field{
	padding-top: 10px;
}
section.group label{
	font-weight: bold;
	font-style: italic;
}
section.group .group-content{
	margin-left: 10px;	
	padding-left: 10px;
	border-left: #999 2px solid;
}
scrollbox{
	border-top: 1px solid #DDD;
}
description{
	white-space: pre-wrap;
}