<tal:block tal:define="global hasCondition php: FormHelper::hasCondition(field['id'])" />
<tal:block tal:define="global styleClass field/display" />
<tal:block tal:condition="hasCondition">
	<tal:block tal:define="global activationlabel php: FormHelper::getActivationLabel(field['id'])" />
	<tal:block define="global styleClass php: styleClass . ' toHide'" />
</tal:block>

<li tal:attributes="class styleClass" id="field${field/id}">
	<label for="field_${field/id}">${field/label}<span tal:condition="hasCondition" class="nojs" tal:content="trans:m.form.frontoffice.accessibility.activation,space,value=activationlabel">(Si "${activationlabel}")</span>	<em tal:condition="field/required">*</em></label>	
	<input tal:replace="structure field/html" />
	<p tal:condition="field/description" tal:content="structure field/description" class="help-text"></p>
</li>