<tal:block tal:define="global hasCondition php: FormHelper::hasCondition(group['id'])" />
<tal:block tal:condition="hasCondition">
	<tal:block tal:define="global activationlabel php: FormHelper::getActivationLabel(group['id'])" />
	<tal:block tal:define="global toHide string: toHide" />
</tal:block>

<li id="groupe${group/id}" tal:attributes="class toHide">
	<fieldset id="fieldset_${group/id}">	
		<legend class="h-${group/level}">
			${group/label}
			<tal:block tal:condition="hasCondition"><br /><span class="condition nojs">(${trans:m.form.frontoffice.accessibility.activation,value=activationlabel})</span></tal:block>
		</legend>		
		<div tal:condition="group/description">${group/description}</div>
		<ol>
			<li tal:repeat="elm group/elements" tal:replace="elm" />
		</ol>
	</fieldset>
</li>