<div id="form_${form/getId}_${configuration/getBlockId}_anchor">
	<tal:block tal:condition="not: moduleName" tal:define="global moduleName 'form'" />
	<tal:block tal:condition="php: count(receiverLabels) GT 0">
		<p><strong>${trans:m.form.document.form.contact,ucf,lab}</strong> <tal:block tal:condition="php: count(receiverLabels) == 1">${receiverLabels/0}</tal:block></p>
		<ul class="normal" tal:condition="php: count(receiverLabels) GT 1">
	 		<li tal:repeat="receiverLabel receiverLabels">${receiverLabel}</li>
		</ul>
	</tal:block>
	<script type="text/javascript" tal:condition="php: count(jQueryConditionalElement) GT 0">
	jQuery(document).ready(function() {
		jQuery('span.nojs').hide();
		<tal:block tal:repeat="jQuery jQueryConditionalElement" tal:content="jQuery" />
	});
	</script>
	<script type="text/javascript">
	if (form_Validation instanceof Array) {
		form_Validation.push({id: "form_${form/getId}_${configuration/getBlockId}", rules: ${form/getValidationRulesJSON}});
	}
	</script>
	
	<form method="post" action="#form_${form/getId}_anchor" id="form_${form/getId}_${configuration/getBlockId}" class="cmxform ${form/getFormCssClassName}" enctype="multipart/form-data">
		<fieldset>
			<legend class="h-1">${form/getLabel}</legend>
			<div class="normal description" tal:condition="form/getDescription">${structure form/getDescriptionAsHtml}</div>
			<ul tal:condition="errors" class="errors">
				<li tal:repeat="error errors">${error}</li>
			</ul>
			<ol>
				<li tal:repeat="elm elements" tal:replace="elm" />
				<li tal:condition="useCaptcha" class="captcha">
					<img change:captcha="key php: 'form' . form.getId()" style="vertical-align: bottom" />
					<input change:captcha="key php: 'form' . form.getId()" />
				</li>
			</ol>
			<p class="buttons">
				<input type="hidden" name="${moduleName}Param[selfUrl]" tal:attributes="value selfUrl" />
				<input type="hidden" name="${moduleName}Param[backUrl]" tal:attributes="value backUrl" />
				<input type="submit" class="button submit" name="${moduleName}Param[${submitName}]" id="${submitName}" value="${form/getSubmitButton}" />
				<input type="reset" class="button secondary reset" value="${trans:m.form.frontoffice.reset-button,ucf}" />
			</p>
			<div tal:condition="form/getFooter" class="normal">
				<div class="cleaner"></div>
				<div class="bottom-description">${structure form/getFooterAsHtml}</div>
			</div>
		</fieldset>
	</form>
</div>