<tal:block tal:define="global hasCondition php: FormHelper::hasCondition(field['id'])" />
<tal:block tal:condition="hasCondition">
	<tal:block tal:define="global activationlabel php: FormHelper::getActivationLabel(field['id'])" />
	<tal:block tal:define="global toHide string: toHide" />
</tal:block>

<li id="field${field/id}" class="inline-set-container ${toHide}">
	<fieldset id="fieldset_${field/id}" class="inline-set">	
		<legend tal:condition="not:field/required" class="group-label">
			${field/label}
			<tal:block tal:condition="hasCondition"><br /><span class="condition nojs">(${trans:m.form.frontoffice.accessibility.activation,value=activationlabel})</span></tal:block>
		</legend>		
		<legend tal:condition="field/required" class="group-label required">
			<em class="requiredsymbol" title="(${trans:m.website.frontoffice.this-field-is-mandatory})">*</em>
			${field/label}
			<tal:block tal:condition="hasCondition"><br /><span class="condition nojs">(${trans:m.form.frontoffice.accessibility.activation,value=activationlabel})</span></tal:block>
		</legend>		
		<ol>
			<tal:block>${field/html}</tal:block>
		</ol>
	</fieldset>
	<p tal:condition="field/description" class="help-text">${field/description}</p>
</li>	