<tal:block tal:define="global hasCondition php: FormHelper::hasCondition(field['id'])" />
<tal:block tal:condition="hasCondition">
	<tal:block tal:define="global activationlabel php: FormHelper::getActivationLabel(field['id'])" />
	<tal:block tal:define="global toHide string: toHide" />
</tal:block>

<li id="field${field/id}" class="radio-container ${toHide}">
	<fieldset id="fieldset_${field/id}" class="radio">	
		<legend>${field/label}<span tal:condition="hasCondition" class="nojs"> ${trans:m.form.frontoffice.accessibility.activation,space,value=activationlabel}</span> <em tal:condition="field/required">*</em></legend>		
		<ol>
			<li tal:replace="structure field/html" />
		</ol>
		<p tal:condition="field/description" class="help-text">${structure field/description}</p>
	</fieldset>
</li>	