<tal:block tal:define="global hasCondition php: FormHelper::hasCondition(field['id'])" />
<tal:block tal:condition="hasCondition">
	<tal:block tal:define="global activationlabel php: FormHelper::getActivationLabel(field['id'])" />
	<tal:block tal:define="global toHide string: toHide" />
</tal:block>

<li id="freecontent${field/id}" tal:attributes="class toHide">
	<span tal:condition="hasCondition" class="nojs" change:translate="&modules.form.frontoffice.accessibility.activationSpaced;; value activationlabel">(Si "${activationlabel}")</span>
	<div class="free-text" tal:content="field/description"></div>
</li>