<select name="${moduleName}Param[${field/name}][]" id="field_${field/id}" multiple="multiple" tal:attributes="title field/title">
<span tal:repeat="item field/items" tal:omit-tag="">
	<option tal:condition="item/selected" tal:attributes="value item/value" tal:content="item/label" selected="selected" />
	<option tal:condition="not: item/selected" tal:attributes="value item/value" tal:content="item/label" />
</span>
</select>
<p class="help-text fieldtype-help" change:translate="&modules.form.frontoffice.Select-multiple-help;"></p>