<input type="text" name="${moduleName}Param[${field/name}]" tal:attributes="value field/value; title field/title" size="10" maxlength="10" 
	class="date-picker textfield" id="field_${field/id}" /><span class="date-format nojs" title="(${trans:m.form.frontoffice.datepicker.format-help,ucf,attr})">${trans:f.date.human-format}</span>
<script type="text/javascript">
	/* <![CDATA[ */
	jQuery(document).ready(function(){jQuery('#field_${field/id}').datepicker({
		minDate: '${field/startDate}', maxDate: '${field/endDate}', yearRange: '${field/yearRange}', 
		changeMonth: true, changeYear: true
	});});
	/* ]]> */
</script>