<tal:block metal:define-macro="groupContent1">
	<tal:block tal:repeat="node contents">
		<tal:block tal:condition="node/isGroup">
			<dt><strong>${node/label}</strong></dt>
			<dd></dd>
			<tal:block tal:define="contents node/contents" metal:use-macro="groupContent1" />
		</tal:block>
		<tal:block tal:condition="not:node/isGroup">
			<dt><em>${node/label}</em></dt>
			<dd tal:condition="node/mailValue">${structure node/mailValue}</dd>
			<dd tal:condition="not: node/mailValue">${structure node/value}</dd>
		</tal:block>
	</tal:block>
</tal:block>
<dl>
	<tal:block tal:define="contents response/contents" metal:use-macro="groupContent1" />
</dl>